@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Mobile Sales Tool</h1>
    <br />
    <img src="../Images/logo.png" />
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Interactive Mobile Sales Tool</h2>
        <p>
            Mobile Sales tool is a simple application that
            compares cellphone rate plans.
        </p>
    </div>
 
    <div class="col-md-4">
        <h2>Speak to a Representative</h2>
        <p>If you would like to talk to a representative about our services, click on the link down below.</p>
        <p><a class="btn btn-default" href="~/Home/Chat">Chat &raquo;</a></p>
    </div>
</div>